<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-800 text-white p-10">
     

        <a class=" inline-block text-xs bg-blue-500 px-3 py-2 rounded-md" href="/">Go back to home</a>
        <form action="/edit" method="post">
            <input
              class="block px-3 py-3 bg-zinc-700 w-1/4 rounded-md mt-7 outline-none text-zinc-500   text-base    type="text" 
              placeholder="Previous name" name="previous" value="<%=fileName%>" 
            readonly   />
            <input
              class="  block px-3 py-3 bg-zinc-700 mt-3 w-1/4 rounded-md outline-none text-base"
              type="text"
              placeholder="New name" name="new"
            />
           
            <input
              class="mt-2 bg-yellow-600 rounded-md px-5 py-2"
              type="submit"
              value="update name"
            />
          </form>




    </div>

    <script src="/javascript/script.js"></script>
  </body>
</html>
